.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-link,
.theme-btn {
  padding: 10px;
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.profile-link:hover,
.theme-btn:hover {
  background-color: #626262;
  color: #ffffff;
}

.app-content {
  height: 95%;
}

:host-context(.dark) {
  .profile-link,
  .theme-btn {
    background-color: #626262;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    color: #f2f2f2;
  }

  .profile-link:hover,
  .theme-btn:hover {
    background-color: #474747;
    color: #ffffff;
  }
}
