<div class="profile-container">
    <button (click)="logout()">Logout</button>

    <div class="profileData">
        <ng-container *ngIf="!editMode; else editModeTemplate">
            <button (click)="toggleEditMode()">Edit</button>
            <div>Name: {{ (profileData$ |async)?.name }}</div>
        </ng-container>

        <ng-template #editModeTemplate>
            <button (click)="toggleEditMode()">Cancel</button>
            <button (click)="saveProfile()">Save</button>

            <div>Name: <input type="text" [(ngModel)]="profileDataCopy.name" /> </div>
        </ng-template>

        <div>Email: {{(profileData$ |async)?.email}}</div>
        <div>Creation Date: {{(profileData$ |async)?.createdAt | date}}</div>
        <div>Profile ID: {{(profileData$ |async)?.id}}</div>

    </div>

</div>