<div>
    <button mat-button (click)="updateList()" [disabled]="updateCountdown > 0">
        Update
        <span *ngIf="updateCountdown > 0"> ({{ updateCountdown }}s)</span>
    </button>
    <button mat-button (click)="createGroup()">Create</button>
</div>

<div>
    <div *ngFor="let group of groups$ | async">
        <a [routerLink]="'/group/' + group.id" (click)="setCreatorId(group.createdBy)">
            {{ group.name }}
        </a>

        <button mat-icon-button color="warn" *ngIf="group.createdBy === userId" (click)="deleteGroup(group.id)">delete
        </button>
    </div>
</div>